* {
    box-sizing: border-box;
}

body {
    background-color: rgb(10, 10, 10);
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding-top: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

body #start-id {
    background-color: rgb(10, 10, 10);
    display: flex;
    align-items: baseline;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding-top: 30px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
}

.start-container {
    margin: auto;
    padding: 20px 30px 10px 30px;
    color: rgb(63, 251, 229);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    overflow: hidden;
    width: 600px;
    max-width: 100%;
    background: rgb(63, 251, 229);
    background: radial-gradient(circle, rgb(46, 47, 47) 0%, rgb(0, 0, 0) 100%);
}

.quiz-container {
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    overflow: hidden;
    width: 600px;
    max-width: 100%;
    background: rgb(63, 251, 229);
    background: radial-gradient(circle, rgb(63, 251, 229) 0%, rgb(13, 43, 42) 100%);
}

.quiz-header {
    padding: 4rem;
}

.timer {
    float: right;
}

a {
    text-decoration: none;
    color: #FFF;
}

h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}

button {
    background-color: #2b2b2b;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 1.1rem;
    width: 100%;
    padding: 1.3rem;
}

.scoreboard-container {
    position: relative;
    display: flex;
    opacity: 50%;
    flex-direction: column;
    flex-basis: 1px;
    float: right;
    padding: 10px;
    background-color: #2b2b2b;
    border: none;
    color: #FFF;
    cursor: pointer;
    font-family: inherit;
    justify-content: flex-start;
    align-items: center;
}



.scoreboard-container:hover {
    opacity: 1.0;
    display: inline-flex;
}

.scoreboard-item {
    display: flex;

}










/*Changes submit button color on hover*/
button:hover {
    background-color: #000000;
}

/*Changes submit button color on focus*/
button:focus {
    background-color: #000000;
    outline: none;
}

/*Change background color on mouse selection*/
::selection {
    background-color: #2b2b2b;
}